body {
  background-color: rgb(187, 250, 209);
  display: grid;
  grid-template-rows: 55px  90vh;
  grid-template-areas: 
    'header'
    'card'
  ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Average Sans', Arial;
}

.header {
  font-family: Meddon, Arial;
  background-color: lightseagreen;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 10px;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.getAdvice {
  grid-area: card;
  display: inline;
  place-self: center;
}

.adviceButton {
  padding: 10%;
  width: 20vw;
  text-align: center;
  height: fit-content;
  font-size: medium;
  border-radius: 15px;
  background-color: rgb(253, 241, 227);
  transition: ease-in-out 0.1s;
}

.adviceButton:hover,
.deleteButton:hover
{
background-color: rgb(249, 228, 203);
}

.adviceCard {
  grid-area: card;
  place-self: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
  padding: 5%;
  background-color: white;
  border-radius: 15px;
  border: dashed 2px rgb(20, 108, 103);
  max-height: fit-content;
}

.title {
  color: rgb(20, 108, 103);
  font-weight: 800;
}

.advice {
  line-height: 1.1;
  padding: 10px;
}

.deleteButton {
  background-color: rgb(253, 241, 227);
  border-radius: 8px;
  padding: 4%;
  transition: ease-in-out 0.1s;
  margin-bottom: 20px;
}

.dateAndTime {
  font-size: small;
}

.timeContainer {
 width: 100%;
 text-align: right;
}

